/****** Script de la commande SelectTopNRows à partir de SSMS  ******/
SELECT * FROM [marveldle].[dbo].[AudioVisualCharacters]
SELECT * FROM [marveldle].[dbo].[ComicCharacters]

DELETE FROM [marveldle].[dbo].[AudioVisualCharacters]
DELETE FROM [marveldle].[dbo].[ComicCharacters]